html, body {
  background: linear-gradient(-50deg, rgba(48, 48, 48, .9), rgba(36, 36, 36, .9));
  animation: gradient 7.5s ease-in infinite;
  background-size: 400% 400%;
  height: 100vh;
  background-color: #363636;
  color: rgba(255, 255, 255, 1);
  font-family: "asap-light", "asap-regular";
  overflow-y: overlay;
  overflow-x: hidden;
   }
@font-face {
    font-family: "asap-regular";
    src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-Regular.otf");
   }
@font-face {
    font-family: "asap-bold";
    src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-Bold.otf");
   }
@font-face {
    font-family: "asap-bold-italic";
    src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-BoldItalic.otf");
   }
@font-face {
    font-family: "asap-italic";
    src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-Italic.otf");
   }
@font-face {
    font-family: "asap-light";
    src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-Light.otf");
   }
@font-face {
    font-family: "asap-light-italic";
    src: url("https://lynxmic.github.io/blog/css/fonts/asap/Asap-LightItalic.otf");
   }
@font-face {
    font-family: "timeburner-bold";
    src: url("https://lynxmic.github.io/blog/css/fonts/timeburner/timeburnerbold.ttf");
   }
::-webkit-scrollbar {
        width: 8px;
        background: transparent;
         }
::-webkit-scrollbar-track { 
       border-radius: 10px;
        }
::-webkit-scrollbar-thumb {
       background: rgba(215, 215, 215, .5);
       border-radius: 10px;
        }
::-webkit-scrollbar-thumb:hover {
       background: rgba(215, 215, 215, .7);
        }
a {
       color: #519cd6;
    }
a:hover {
       color: #70b5eb;
      }
a#entry {
       color: white;
      }
pre, code {
       background-color: #252525;
       color: #d7d7d7;
    }
#logo {
  position: relative;
  left: -100px;
  animation: slide 0.6s forwards, fadein 0.5s;
  filter: drop-shadow(5px 5px 10px rgba(232, 226, 249, 0.25));
    }
#section {
   background: rgba(53, 53, 53, 0.5);
   max-width: inherit;
   position: relative;
   opacity: 0;
   animation: effect 0.6s ease-in-out;
   animation-delay: 0.3s;
   animation-fill-mode: both;
  }
  .title, .subtitle, strong {
    color: rgba(255, 255, 255, 1); 
  }
  .card {
    background: rgba(53, 53, 53, 0.5);
    color: rgba(255, 255, 255, 1);
  }
  #centerbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  #entrypic:hover {
    filter: drop-shadow(5px 5px 10px rgb(40, 40, 40));
  }
 .tooltip {
   position: relative;
   display: inline-block;
 }
 .tooltip .name {
   visibility: hidden;
   width: 100px;
   bottom: 100%;
   left: 50%;
   margin-left: -50px;
   background-color: rgba(53, 53, 53, 0.75);
   color: white;
   text-align: center;
   font-family: "asap-light";
   border-radius: 6px;
   backdrop-filter: blur(3px);
   position: absolute;
   z-index: 1;
 }
 .tooltip:hover .name {
   visibility: visible;
   animation: fadein 0.3s;
 }
 @keyframes gradient {
  0% {
       background-position: 0% 50%;
     }
  50% {
       background-position: 100% 50%;
     }
  100% {
       background-position: 0% 50%;
     }
 }
 @keyframes slide {
  100% { left: 0; }
}
@keyframes effect {
  from {top: -25px; opacity: 0;}
  to {top: 0px; opacity: 1;}
    }
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
    }
