<div id="about">
    <div class="box is-align-items-center has-fade-effect mb-2" id="section">
    <p class="title" style="text-align:center;">❔ About</p>
    <p>Why hello there! I'm <strong>Lynxmic</strong> (but you can call me Lynx). You might also know me under my older alias "solarixtech" if we've got along for a long time.</p>
    <p>I am yet another human being that uses the internet a lot, and I mean *a lot*. I've actually <strong>been on the internet since 2012</strong>, later starting my very first YT channel in 2013. <strong>My other interests/skills</strong> outside of content creation are in (some) video games, web development, graphic design, as well as have a sort of fascination for outside sights.</p>
    <p>As a little child I kept <strong>accumulating more and more knowledge</strong>, both on the technology side of things (which happened to become huge passion of mine, long story), content creation, and... in life, of course.</p>
    <p>Inspired by other niche tech YT channels at the time, <strong>I started in 2016 what is known today as Lynxmic</strong>, currently the channel is at <strong>over 500+ subscribers and growing</strong>, something I'd have never expected (just like other creators at their beginnings!)</p>
    <p>This is <strong>my personal website</strong> which should serve both as a portfolio of sorts, and as a <strong>gateway to my internet presence in assembly</strong>. What you see here should serve as a representation of what I do etc. I run <a href="/blog">my own blog</a> on this website as well, where you can learn even more about me! I don't post often there; at the end of the day, <strong>it depends on time, mood and ideas</strong> to come up with content of any sort (not exclusive to the blog!)</p>
    <p>My pronouns are <strong>he/they</strong> (I accept being referred to by either he/him or they/them), and my time zone is <strong>GMT+2 CEST</strong> (Central European Summer Time) - oh, did I mention I'm coming from Europe?</p>
    <p>At last, <strong>any questions or issues about the website,</strong> don't hesitate to open an issue on the <a href="https://github.com/Lynxmic/lynxmic.github.io">GitHub repository</a> or send feedback through <a href="mailto:thelynxmic@gmail.com?subject=[lynxmic.github.io feedback]">email</a> or my Discord Server.</p>
    <p class="subtitle" style="text-align:center;">🖥️ PC Specs</p>
    <p>My main computer is a laptop, model Lenovo IdeaPad 3 15ITL6 (2021)</p>
    <ul>
      <li>
        <strong>CPU</strong>: Intel Core i3-1115G4 (11th Gen, Tiger Lake) clocked at 3 GHz
      </li>
      <li>
        <strong>GPU</strong>: Intel FHD Graphics (integrated)
      </li>
      <li>
       <strong>RAM</strong>: 4GB <i>(it's low for the current standards, but it does the job fairly well)</i>
      </li>
      <li>
        <strong>Storage</strong>: 256GB Samsung NVMe SSD (three-partition setup - Windows, Linux and data)
       </li>
       <li>
        <strong>OS</strong>: Kubuntu 22.04.4 LTS & Windows 11 Pro 23H2
       </li>
       <li>
        <strong>Software used to make videos</strong>: GIMP 2.10 (graphic design), OBS Studio (recording/streaming), VMware Workstation Pro (virtualization), 86Box (emulation), DaVinci Resolve (editing - Windows), Kdenlive (editing - Linux)
       </li>
    </ul>
    <p class="subtitle" style="text-align:center;">🖥️ Other Devices</p>
    <p>I have several other technology as well:</p>
    <ul>
      <li>
        <strong>Laptops</strong>: Lenovo G50-70 (main PC from 2018 to 2021), Lenovo ThinkPad T61 (test machine), HP 14s-fq0xxx (archive storage)
      </li>
      <li>
        <strong>Phones</strong>: Samsung Galaxy A23 5G (main), Xiaomi Redmi 10 (secondary), Galaxy A20e (uhhh, backup?)
      </li>
    </ul>
    <p class="subtitle" style="text-align:center;">🖥️ Buttons (because why not!)</p>
    <div class="field is-grouped is-justify-content-center">
      <p class="control">
        <a href="https://wetdry.world/@lynxmic"><img src="https://760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org/buttons/wetdry.world/wetdryworld-chuckya.png" style="image-rendering:pixelated;"></a>
      </p>
      <p class="control">
        <a href="https://lynxmic.github.io/discord"><img src="https://cyber.dabamos.de/88x31/discord2.gif" style="image-rendering:pixelated;"></a>
        
      </p>
    </div>
    </div>
    </div>
