<div id="about">
    <div class="box has-text-light is-align-items-center has-fade-effect mb-2" id="section">
    <p class="title" style="text-align:center;">❔ About</p>
    <p>🚧<i>This section is under construction. Expect more to be added over time.</i>🚧</p>
    <p>Why hello there! I'm Lynxmic (you may alternatively call me just Lynx). You might also know me under my older alias "solarixtech" if we've got along for a long time.</p>
    <p>This is my personal website which should serve both as a portfolio of sorts, and as a gateway to my internet presence in assembly. I run my own blog on this website as well (<a href="/blog">lynxmic.github.io/blog</a>).</p>
    <p>My pronouns are he/they (I accept being referred to by either he/him or they/them), and my time zone is GMT+2 EET (Eastern European Time).</p>
    <p class="subtitle" style="text-align:center;">🖥️ PC Specs</p>
    <p>My main computer is a laptop, model Lenovo IdeaPad 3 15ITL6 (2021)</p>
    <ul>
      <li>
        <strong>CPU</strong>: Intel Core i3-1115G4 (11th Gen, Tiger Lake) clocked at 3 GHz
      </li>
      <li>
        <strong>GPU</strong>: Intel FHD Graphics (integrated)
      </li>
      <li>
       <strong>RAM</strong>: 4GB <i>(it's low for the current standards, but it does the job fairly well)</i>
      </li>
      <li>
        <strong>Storage</strong>: 256GB Samsung NVMe SSD (two-partition setup, one half for the OS and another for data)
       </li>
       <li>
        <strong>OS</strong>: Windows 11 Pro 23H2
       </li>
    </ul>
    <p class="subtitle" style="text-align:center;">🖥️ Other Devices</p>
    <p>I have several other technology as well:</p>
    <ul>
      <li>
        <strong>Laptops</strong>: Lenovo G50-70 (main PC from 2018 to 2021), Lenovo ThinkPad T61 (test machine), HP 14s-fq0xxx (archive storage)
      </li>
      <li>
        <strong>Mobile devices</strong>: Samsung Galaxy A23 5G (main phone), Xiaomi Redmi 10 (secondary phone), Galaxy A20e (uhhh, backup phone?)
      </li>
    </ul>
    </div>
    </div>
