<title>{{ site.name }}</title>  
<link rel="icon" type="image/png" href="{{ site.url }}{{ site.logo }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="refresh" content="0; URL=https://discord.gg/wDxDKJU2sj" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
  <link rel="stylesheet" href="{{ site.url }}/css/bulma.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css">