<div id="projects">
  <div class="box has-text-light is-align-items-center has-fade-effect mb-2" id="section">
    <p class="title" style="text-align:center;">🖥️ Projects</p>
    <p>Both my current and past projects from over the years, anything from programming projects to other things!</p>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left" id="entrypic">
                <figure class="image is-48x48">
                  <img class="is-rounded" title="Lynxmic" src="../img/lynxwebsite.png" id="lynxmicyt">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Lynxmic</p>
                <p class="subtitle is-6">Channel</p>
              </div>
            </div>
            <div class="content">
              A tech-oriented channel with 400+ subs. New uploads 1-2 times per month.
              <br>
              <a class="button is-rounded has-background-dark has-text-light is-small" href="https://youtube.com/@lynxmic">
                <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;View on YouTube
              </a>
              <a class="button is-rounded has-background-dark has-text-light is-small" href="https://vanillo.tv/u/LGyuwTfNQE6XrVV8zrJkHg">
                <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;View on Vanillo
              </a>
            </div>
          </div>
        </div>
        </div>
      <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left" id="entrypic">
            <figure class="image is-48x48">
              <img class="is-rounded" title="Lynxmic" src="../img/lynxwebsite.png" id="lynxwebsite">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">lynxmic.github.io</p>
            <p class="subtitle is-6">Website</p>
          </div>
        </div>
        <div class="content">
          Comprising the website (you're here!) and the Lynxmic Blog.
          <br>
          <a class="button is-rounded has-background-dark has-text-light is-small" href="https://github.com/Lynxmic/lynxmic.github.io">
            <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;View source code
          </a>
          <a class="button is-rounded has-background-dark has-text-light is-small" href="https://github.com/Lynxmic/blog">
            <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;View source code (blog)
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left" id="entrypic">
              <figure class="image is-48x48">
                <img class="is-rounded" title="Venus" src="../img/venus.jpg" id="venus">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Venus</p>
              <p class="subtitle is-6">Discord Bot</p>
            </div>
          </div>
          <div class="content">
            An ambitious multi-purpose bot I started in 2018 but shut down a year later.
            <br>
            <a class="button is-rounded has-background-dark has-text-light is-small" href="https://github.com/Lynxmic/Venus">
              <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;View source code
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left" id="entrypic">
                <figure class="image is-48x48">
                  <img class="is-rounded" title="Axeon" src="../img/axeon.png" id="axeon">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Axeon</p>
                <p class="subtitle is-6">Community</p>
              </div>
            </div>
            <div class="content">
              I ran a Discord community under this moniker back in 2017-2021. At its peak it had 120+ members and was pretty active.
              <br>
              <a class="button is-rounded has-background-dark has-text-light is-small" href="https://twitter.com/Axeon">
                <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;View Twitter archive
              </a>
            </div>
          </div>
        </div>
        </div>
    </div>
    </div>
    </div>