<div id="socials">
  <div class="box has-text-light is-align-items-center has-fade-effect mb-2" id="section">
    <p class="title" style="text-align:center;">👥 Socials</p>
    <p>Where you can find me across the internet, outside my projects</p>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left" id="entrypic">
                <figure class="image is-48x48">
                  <img title="Discord" src="../img/icons/discord.svg" id="discord">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Discord</p>
                <p class="subtitle is-6">Lynxmic's Square</p>
              </div>
            </div>
            <div class="content">
              Yep, I have a Discord Server! Join the community if you'd like.
              <br>
              <a class="button is-rounded has-background-dark has-text-light is-small" href="https://lynxmic.github.io/discord">
                <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;Join server
              </a>
            </div>
          </div>
        </div>
        </div>
      <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left" id="entrypic">
            <figure class="image is-48x48">
              <img title="Mastodon" src="../img/icons/mastodon.svg" id="mastodon">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Mastodon</p>
            <p class="subtitle is-6">@lynxmic@wetdry.world</p>
          </div>
        </div>
        <div class="content">
          The Fediverse, my main social platform of choice, whetever you like it or not!
          <br>
          <a class="button is-rounded has-background-dark has-text-light is-small" href="https://wetdry.world/@lynxmic">
            <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;Visit profile
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left" id="entrypic">
            <figure class="image is-48x48">
              <img title="Bluesky" src="../img/icons/bluesky.png" id="bluesky">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Bluesky</p>
            <p class="subtitle is-6">@lynxmic.bsky.social</p>
          </div>
        </div>
        <div class="content">
          Less active on Bluesky, but if you find yourself more comfortable there:
          <br>
          <a class="button is-rounded has-background-dark has-text-light is-small" href="https://bsky.app/profile/lynxmic.bsky.social">
            <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;Visit profile
          </a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left" id="entrypic">
                  <figure class="image is-48x48">
                    <img title="Email" src="../img/icons/email.svg" id="email">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Email</p>
                  <p class="subtitle is-6">thelynxmic@gmail.com</p>
                </div>
              </div>
              <div class="content">
                does this particular contact method need an explanation?
                <br>
                <a class="button is-rounded has-background-dark has-text-light is-small" href="mailto:thelynxmic@gmail.com">
                  <i class="fas fa-envelope"></i>&nbsp;&nbsp;Contact me
                </a>
              </div>
            </div>
          </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left" id="entrypic">
                    <figure class="image is-48x48">
                      <img title="Twitter" src="../img/icons/twitter.svg" id="twitter">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">Twitter</p>
                    <p class="subtitle is-6">@Lynxmic</p>
                  </div>
                </div>
                <div class="content">
                  Not active on there anymore, but I've kept my account up for posterity!
                  <br>
                  <a class="button is-rounded has-background-dark has-text-light is-small" href="https://twitter.com/Lynxmic">
                    <i class="fas fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;Visit profile
                  </a>
                </div>
              </div>
            </div>
            </div>
    </div>
    </div>
    </div>