<div id="home">
  <div class="box has-text-light is-align-items-center has-fade-effect mb-2" id="section">
    <p class="title" style="text-align:center;">👋 Hi there!</p>
    <p>Feel free to explore around Lynxmic's new redesigned personal webspace. Although it's still incomplete, the current contents should be enough for the moment to explain about me and what I do.</p>
    <p><strong>Feedback is appreciated!</strong> Feel free to open an issue on the <a href="https://github.com/Lynxmic/lynxmic.github.io">GitHub repository</a> or send feedback through <a href="mailto:thelynxmic@gmail.com?subject=[lynxmic.github.io feedback]">email</a> or <a href="/discord">Discord</a>.</p>
    <div class="field is-grouped is-justify-content-center">
        <p class="control">
          <a class="button is-rounded has-background-dark has-text-light" href="{{ site.url }}/blog">
            <i class="fas fa-pen"></i>&nbsp;&nbsp;Blog
          </a>
          </p>
          <p class="control">
            <div class="dropdown is-hoverable is-up">
              <div class="dropdown-trigger">
                <button class="button is-rounded has-background-dark has-text-light" style="font-family:asap-light;" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span>Jump to</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-up" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a href="#about" class="dropdown-item">
                    ❔ About
                  </a>
                  <a href="#projects" class="dropdown-item">
                    🖥️ Projects
                  </a>
                  <a href="#socials" class="dropdown-item">
                    👥 Socials
                  </a>
                </div>
              </div>
            </div>
          </p>
      </div>
    </div>
    </div>