<div id="home">
  <div class="box is-align-items-center has-fade-effect mb-2" id="section">
    <p class="title" style="text-align:center;" id="greeting">👋 Hi there!</p>
    <p>Welcome to Lynxmic's personal website! Feel free to explore what's in store. Just switch between all these tabs to get started! :D</p>
    <p><strong>Any questions or issues about the website?</strong> Open an issue on the <a href="https://github.com/Lynxmic/lynxmic.github.io">GitHub repository</a> or send feedback through <a href="mailto:thelynxmic@gmail.com?subject=[lynxmic.github.io feedback]">email</a> or <a href="/discord">Discord</a>.</p>
    <div id="info">
      <p id="userAgent"></p>
      <p id="dateTime"></p>
      <noscript><p><i class="fas fa-circle-exclamation"></i>&nbsp;<strong>JavaScript is disabled, website may not work as intended.</strong></p></noscript>
    </div>
    </div>
    </div>